
/*.main {*/
/*    grid-row: content-start / content-end;*/
/*    grid-column: sidebar-start / content-end;*/
/*}*/

.leftColumn {
    grid-row: content-row-start / content-row-end;
    grid-column: sidebar-start / sidebar-end;
}

.content {
    grid-row: content-row-start / content-row-end;
    grid-column: content-col-start / content-col-end;
    min-height: 52vh;
}
