
.main {
    font-size: 13px;

    border: 1px solid black;
    border-radius: 18px;

    padding: 5px;
    height: 25px;
    width: 65px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
