@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns:
          [start] 6vw
          [sidebar-start] 20vw
          [sidebar-end] auto
          [content-col-start] 42vw
          [content-col-end] 25vw
          [end];
    grid-template-rows:
          [start navbar-start] 70px
          [navbar-end] 25vh
          [content-row-start] auto
          [content-row-end bottombar-start] auto
          [bottombar-end end];
}
